@model SilentAuction.Models.ViewModel
@{
    ViewBag.Title = "Index";
}
<h2>Incomplete Silent Auctions</h2>

@Html.ActionLink("Create a new Auction", "Create", "Auction")
<table class="table">
    <tr>
        <th>
            Date
        </th>
        <th>
            Start Time
        </th>
        <th>
            End Time
        </th>
        <th>
            Event
        </th>
        <th>
            Description
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Auctions)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Day)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.StartTime)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.EndTime)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Description)
    </td>
    <td>
        @Html.ActionLink("Add Item", "AddItem", "AuctionPrize", new { id = item.AuctionId }, null) ||
        @Html.ActionLink("Details", "Index", "Auction", new { id = item.AuctionId }, null)
    </td>
</tr>
    }
</table>

<h2>Incomplete Raffles</h2>

@Html.ActionLink("Create a new Raffle", "Create", "Raffle")
<table class="table">
    <tr>
        <th>
            Start Time
        </th>
        <th>
            End Time
        </th>
        <th>
            Event
        </th>
        <th>
            Description
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Raffles)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Add Raffle Items", "AddItem", "RafflePrize", new { id = item.RaffleId }, null) ||
                @Html.ActionLink("Details", "Index", "Raffle", new { id = item.RaffleId }, null)
            </td>
        </tr>
    }
</table>