@model SilentAuction.Models.Auction
@{
    ViewBag.Title = "Index";
}

<h2>Details</h2>

<div>
    <h4>@Html.DisplayFor(Model => Model.Name)</h4>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Day)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Day)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Donors)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Donors)
        </dd>
        </dl>
</div>
<p>
    @Html.ActionLink("Edit Information", "Edit") ||
    @Html.ActionLink("Add Auction Items", "AddItem", "AuctionPrize", new { id = Model.AuctionId }, null) ||
    @Html.ActionLink("View Auction Items", "ViewItems") ||

</p>
