@model SilentAuction.Models.Participant
@{
    ViewBag.Title = "BuyTickets";
}

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.FirstName)
    @Html.HiddenFor(model => model.LastName)
    @Html.HiddenFor(model => model.ApplicationUserId)
    @Html.HiddenFor(model => model.EmailAddress)
    @Html.HiddenFor(model => model.ParticipantId)
    @Html.HiddenFor(model => model.TotalSpent)

    <div class="form-horizontal">
        How many tikets would you like to purchase?
        <div class="col-md-10">
            @Html.EditorFor(model => model.RaffleTickets, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.RaffleTickets, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="BuyTickets" class="btn btn-default" />
        </div>
    </div>
}