@model SilentAuction.Models.ViewModel
@{
    ViewBag.Title = "Index";
}
<br />
<br />
<br />
<h2>Active Silent Auctions</h2>

<table class="table">
    <tr>
        <th>
            Start Time
        </th>
        <th>
            End Time
        </th>
        <th>
            Event
        </th>
        <th>
            Description
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Auctions)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Participate", "Participate", "Auction", new { id = item.AuctionId }, null)
            </td>
        </tr>
    }
</table>

<h2>Active Raffles</h2>

<table class="table">
    <tr>
        <th>
            Start Time
        </th>
        <th>
            End Time
        </th>
        <th>
            Event
        </th>
        <th>
            Description
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Raffles)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Participate", "Participate", "Raffle", new { id = item.RaffleId }, null)
            </td>
        </tr>
    }
</table>