@model SilentAuction.Models.ViewModel
@{
    ViewBag.Title = "Pay";
}

<h2>Are you sure you would like to buy tickets for @Html.Display(Model.Raffle.Name)?</h2>

<p>@Html.Display(Model.Raffle.Description)</p>
<br />
<p>The price per ticket is @Html.Display(Model.Raffle.CostPerTicket.ToString())</p>
<br />
@using (Html.BeginForm())
{
    <div class="form-horizontal">
        How many tikets would you like to purchase?
        <div class="col-md-10">
            @Html.EditorFor(model => Model.Participant.RaffleTickets, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => Model.Participant.RaffleTickets, "", new { @class = "text-danger" })
        </div>
    </div>
}
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <form action="/AuctionPrize/Pay" method="POST">
            @{
                var cost = Model.Participant.RaffleTickets * Model.Raffle.CostPerTicket;
                var costCents = Model.Participant.RaffleTickets * Model.Raffle.CostPerTicket * 100;
            }
            <article>
                <label>Amount: $@Html.Display(cost.ToString())</label>
            </article>
            <script src="//checkout.stripe.com/v2/checkout.js"
                    class="stripe-button"
                    data-key="@ViewBag.StripePublishableKey"
                    data-locale="auto"
                    data-description="Raffle Payment"
                    data-amount="@costCents">
            </script>
        </form>
    }
