@model SilentAuction.Models.Raffle
@{
    ViewBag.Title = "Index";
}


<div>
    <h4>@Html.DisplayFor(Model => Model.Name)</h4>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Day)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Day)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Donors)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Donors)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit Information", "Edit") ||
    @Html.ActionLink("Add Raffle Items", "AddItem", "RafflePrize", new { id = Model.RaffleId }, null) ||
    @Html.ActionLink("View Raffle Prizes", "GetRafflePrizes", new { id = Model.RaffleId }) ||
    @Html.ActionLink("View Chart", "IndexRaffle", "LineChart", new { id = Model.RaffleId }, null) ||
</p>
<br />
<p>
    @Html.ActionLink("Email Blast", "EmailBlastRaffleAsync", "Manager", new { raffleId = Model.RaffleId }, null) ||
    @Html.ActionLink("Close Raffle", "CloseRaffleAsync", new { raffleId = Model.RaffleId })
</p>