@model SilentAuction.Models.ViewModel
@{
    ViewBag.Title = "Participate";
}
<h2>Raffle Prizes</h2>
<br />
@Html.ActionLink("Buy Tickets", "BuyTickets", "Participant", new { id = Model.Raffle.RaffleId }, null)
<br />
<p>You currently hold @Model.Participant.RaffleTickets tickets for this raffle</p>
@using (Html.BeginForm("Participate", "Raffle", FormMethod.Get))
{
    @Html.DropDownList("Category", new SelectList(Enum.GetValues(typeof(SilentAuction.Models.ItemCategory))), "All", new { @class = "form-control" })
    <input type="submit" value="Search" />
}

<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th>
            Item Value
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model.RafflePrizes)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td>
                @Html.ActionLink("Add Tickets", "AddTickets", "Participant", new { id = item.RafflePrizeId }, null)
            </td>
        </tr>
    }
</table>