@model IEnumerable<SilentAuction.Models.RafflePrize>
@{
    ViewBag.Title = "Participate";
}
<h2>Raffle Prizes</h2>

@using (Html.BeginForm("Participate", "Raffle", FormMethod.Get))
{
    @Html.DropDownList("Category", new SelectList(Enum.GetValues(typeof(SilentAuction.Models.ItemCategory))), "Category", new { @class = "form-control" })
    <input type="submit" value="Search" />
}

<table class="table">
    <tr>
        <th>
            Description
        </th>
        <th>
            Item Value
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
</td>
            <td>
                @Html.ActionLink("Buy Tickets", "BuyTickets", "Participant", new { id = item.RaffleId }, null)
                @Html.ActionLink("Add Tickets", "AddTickets", "Participant", new { id = item.RafflePrizeId }, null)
            </td>
        </tr>
    }
</table>